@font-face { 
    font-family: Kill The Noise; src: url('Kill\ The\ Noise.otf') format('truetype');
    font-family: Stick No Bills; src: url('StickNoBills-VariableFont_wght.ttf') format('truetype');
}

.header {
    display: block;
    position: relative;
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: -3%;
    overflow: hidden;
}

h1 {
    text-align: center;
    width: 300px;
    height: 50px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: 70%;
    font-family: 'Kill The Noise';
    font-size: 30px;
}

.logos {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5%;
    margin-right: auto;
}

.twitter {
    margin-right: 2%;
}

.twitch {
    margin-right: 2%;
}

.instagram {
    margin-right: 2%;
}

.yt {
    margin-right: 2%;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: auto;
}

.socials {
    margin-left: 20px;
    margin-right: 20px;
}

.latest {
    position: relative;
}

.latest-block {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.thumbnail1 {
    display: flex;
    justify-content: center;
    margin-top: -43%;
}

.latest-text {
    display: flex;
    justify-content: center;
    font-family: 'Stick No Bills';
    font-size: 40px;
}

.yt2 {
    display: flex;
    justify-content: center;
}

.visual {
    position: relative;
}

.visual-block {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.visual-text {
    display: flex;
    justify-content: center;
    font-family: 'Stick No Bills';
    font-size: 55px;
    margin-top: -58%;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.visual-text2 {
    display: flex;
    font-family: 'Stick No Bills';
    font-size: 55px;
    justify-content: center;
}

.background {
    align-content: center;
    position: absolute;
    margin-left: -4.5%;
    margin-top: -1%;
}